.intro_img img{
    width: 100%;
}

main {
    padding-bottom: 50px;
}

.info {
    text-align: center;
    padding: 30px 70px;
}

#short_info {
    margin: 10px 20%;
}

.best {
    margin: 30px 70px;
    text-align: center;
    background-color: black;
    height: 400px;
}

.best p {
    position: absolute;
    color: #F0E7DD;
    left: 50%;
    transform: translate(-50%, -50%);
}

.best #best_seller {
    top: 1435px;
    font-weight: 700;
}

.best #best_name {
    top: 1400px;
    font-weight: 400;
}

.best img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 75%;
}

.recommend {
    color: #F0E7DD;
    padding: 30px 70px;
    text-align: center;
    background-color: #704E2E;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.prod_box {
    display: inline-block;
    margin: 30px 10px;
}

.prod_box p {
    font-size: 20px;
    padding-top: 5px;
}

.view {
    padding: 0 40%;
}

#view_button {
    padding: 15px 0;
    background-color: #CCD6DD;
    font-weight: 500;
    color: black;
}

#prod_img {
    object-fit: cover;
    width: 300px;
    height: 300px;
}