main {
    align-content: center;
}

.part1 {
    background-color: #704E2E;
}

#introImage {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

#title {
    padding: 10px;
    text-align: center;
    color: #F0E7DD;
}

.history {
    align-items: center;
    margin:30px 50px;
    gap: 100px;
    display: flex;
}

#text {

    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.part2 {
    margin: 0 75px;
}

.ingr {
    align-items: center;
    display: flex;
    gap: 100px;
}

.container {
    align-items: flex-end;
}

.container #title2 {
    color: #704E2E;
    text-align: right;
}

.container #text2 {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    color: #786851;
}

.space {
    height: 30px;
}

@media(max-width:800px) {
    .ingr {
        flex-direction: column;
    }

    .container #text2  {
        text-align: center;
    }

    .container #title2 {
        text-align: center;
    }
}