main {
    padding-top: 65px;
}

button:hover {
    cursor: pointer;
}

.f {
    padding: 70px 0;
}

form {
    background-color: white;
    margin: auto;
    width: 60%;
    padding: 0 50px;
    color: black;
}

form h1 {
    padding: 40px 0;
    text-align: center;
}

.container, .name, .num, .adr, .price, .date, .email{
    padding-bottom: 20px;
}

.name input, .num input, .adr input, .email input {
    width: 100%;
}

.adr textarea {
    resize: none;
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

.container {

}

.cont label{
    gap: 10px;
    display:flex;
    align-items: center;
    padding-bottom: 10px;
}

.quantity {
    display: flex;
    background-color: white;
    width: 100px;
    justify-content: space-between;
}

.quantity button {
    width: 20px;
}

#errorMsg {
    padding: 20px;
    text-align: center;
    color: red;
}

.submit {
    text-align: center;
}

#order {
    margin-bottom: 40px;
    padding: 10px;
    width: 100px;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}